body {
  padding: 50px;
  background-color: #66CCFF;
  font-family: sans-serif;
}
#container {
  display: flex;
  justify-content: center;
}

li{
  z-index: 5;
}

.deleteImg {
  position: absolute;
  height: 14px;
  left: 90%;
  z-index: 5;
}

.editLi{
  position: absolute;
  height: 14px;
  left: 70%;
  z-index: 10;
}

.itemText:hover{
  color:red;
}
