body {
  padding: 50px;
  background-color: #3354FF;
  font-family: sans-serif;
  margin: auto;
  width: 50%;
}
.appTitle{
  z-index: 10;
  background-color: #3354FF;
  color: white;
}
#container{
  display: flex;
  justify-content: center;
  top: 65px;
}

 h1{
  margin: 0px !important;
  width: 300px;
  position: fixed;
  z-index: 11;
  top: 0%;
  background-color: #3354FF;

li{
  z-index: 5;
}

.deleteImg {
  position: absolute;
  height: 14px;
  left: 90%;
  z-index: 5;
}
#tooltip{
  font-size: 10px;
}

#newInputForm{
  display: block;
}
